{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
<iframe src="https://writingmentorshipprogram.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-YQGVM14S29");
</script>

{{ end }} {{ define "sidebar-prefooter" }} {{ if site.Params.doks.backgroundDots
-}}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
{{ end -}} {{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-md section-features">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">01 - Mentorship</h2>
        <img
          src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/adcvcd6qy716u4jyp1jc.png"
          width="320"
          height="200"
        />
        <br />
        <p>
          Get personalized guidance from seasoned technical writers who
          understand your goals and challenges.
        </p>
        <p>
          Sharpen your skills through tailored feedback on real-world writing
          projects.
        </p>
        <p>
          Our professional mentors offer the best and their commitment to it is
          100%.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">02 - Event</h2>
        <img
          src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/2w2bg3droupl8ie36nvr.png"
          width="320"
          height="200"
        />
        <br />
        <p>
          Participate in interactive workshops, webinars, and Q&A sessions with
          industry leaders.
        </p>
        <p>
          Stay ahead of the curve with the latest trends and best practices in
          technical writing.
        </p>
        <p>
          Network with potential employers and build your professional
          reputation.
        </p>
      </div>
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5378239849378753"
        crossorigin="anonymous"
      ></script>
      <!-- Unbetween content -->

      <div class="col-lg-5">
        <h2 class="h4">03 - Join our community</h2>
        <img
          src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/hgrywg0g9gq2456b1zjk.png"
          width="320"
          height="200"
        />
        <p>
          Connect with fellow aspiring and established writers in a vibrant
          online community
        </p>
        <p>
          Share your work, ask questions, and learn from each other's
          experiences.
        </p>
        <p>
          Build a network of valuable connections that will boost your career.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Buy me a coffee</h2>
        <p>
          Do you want to support us to pay for some resources and subscriptions
        </p>
        <p><a href="https://selar.co/showlove/twmp">Buy me a coffee</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ define "sidebar-footer" }} {{ if
site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start writing technical articles today</h2>
      <a
        class="btn btn-primary rounded-pill px-4 my-2"
        href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/"
        role="button"
        >{{ i18n "get-started" }}</a
      >
    </div>
  </div>
</section>
{{ end -}} {{ end }}
